@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

$white: #fff;
$grey: #202124;
$grey-dark: #333333;
$blue: #1f6feb;
$primary-transition: 300ms ease-in-out;
$secondary-transition: 600ms cubic-bezier(0.5, 1.6, 0.4, 0.7);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Inter", sans-serif;
  color: $white;
  overflow: hidden;
  min-height: 100vh;
  isolation: isolate;

  button {
    font-family: "Inter", sans-serif;
  }
}

.nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 40px 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link {
  color: $white;
  text-decoration: none;
}

.nav__items {
  display: flex;
  align-items: center;
  justify-content: center;

  > :not(:last-child) {
    margin-right: 20px;
  }
}

.nav__icon {
  height: 16px;
}

.hover-default {
  transition: opacity $primary-transition;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.section {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $grey;
  transition: $secondary-transition;
  overflow: hidden;
}

.section--mod {
  background-color: $grey-dark;
  z-index: -1;
  transform: translateZ(-100px);
}

.section--slide {
  transform: translateX(-100vw) !important;
}

.wrap {
  padding: 36vh 20px 0;
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  -webkit-font-smoothing: subpixel-antialiased;
}

.section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__heading {
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 40px;
  font-weight: 900;
  position: relative;
}

.section__brush {
  position: absolute;
  width: 140%;
  height: 110%;
  top: 0;
  left: -20%;
  opacity: 0.12;
}

.section__link {
  color: $blue;
}

.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 40px 40px 0;
  display: flex;
  justify-content: center;

  > :not(:last-child) {
    margin-right: 20px;
  }
}

.bottom__button {
  border: none;
  background: none;
  color: $white;
  text-decoration: underline;
}

.bottom__button--active {
  color: $blue;
  font-weight: 700;
  pointer-events: none;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .wrap {
    max-width: 300px;
  }

  .section__heading {
    font-size: 42px;
    line-height: 48px;
  }
}
